<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>J1 - O portal de notícias do bairro</title>
    <%- include('./partials/head.ejs') %>
    <meta property="twitter:card" content="summary_large_image"><!-- required -->
    <meta property="twitter:site" content="@j1noticias"><!-- required -->
    <meta property="twitter:title" content="J1 - O portal de notícias do bairro"><!-- required -->
    <meta property="twitter:description" content="Últimas notícias do bairro e do mundo, as vezes falamos de política, pouca economia, desemprego, sem educação, pouca saúde, inteiro ambiente, robôs assassinos, religião, doideiras e bicicletas.Sem muitos videos.">
    

</head>

<body>
    <%- include('./partials/header.ejs') %>
    <%- include('./partials/mainhome.ejs') %>
    <%- include('./partials/footer.ejs') %>



</body>

</html>