<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>J1 - <%=doc[0].cardbodytitle%>
    </title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
    <meta name="title" content="J1 - O portal de notícias do bairro">
    <meta name="description"
        content="Últimas notícias do bairro e do mundo, as vezes falamos de política, pouca economia, desemprego, sem educação, pouca saúde, inteiro ambiente, robôs assassinos, religião, doideiras e bicicletas.Sem muitos videos.">
    <meta property="og:description"
        content="Últimas notícias do bairro e do mundo, as vezes falamos de política, pouca economia, desemprego, sem educação, pouca saúde, inteiro ambiente, robôs assassinos, religião, doideiras e bicicletas.Sem muitos videos.">
    <link rel="icon"
        href="https://s2.glbimg.com/nMQRSo35mM4QdMphrT4FsjQuMeM=/32x32/smart/filters:strip_icc()/s.glbimg.com/jo/g1/f/original/2018/05/23/favicon-g1.jpeg">
    <link rel="icon" sizes="128x128"
        href="https://s2.glbimg.com/mxQZ5Z7IoWSPFY0-95bwnWe9Vd8=/128x128/smart/filters:strip_icc()/s.glbimg.com/jo/g1/f/original/2018/05/23/favicon-g1.jpeg">
    <link rel="icon" sizes="152x152"
        href="https://s2.glbimg.com/rN0MqrM1pfSa8hMThl05NULLyd8=/152x152/smart/filters:strip_icc()/s.glbimg.com/jo/g1/f/original/2018/05/23/favicon-g1.jpeg">
    <link rel="icon" sizes="167x167"
        href="https://s2.glbimg.com/AmNbnX_xQ8qAEf6WpST7jnuo8aE=/167x167/smart/filters:strip_icc()/s.glbimg.com/jo/g1/f/original/2018/05/23/favicon-g1.jpeg">
    <link rel="icon" sizes="180x180"
        href="https://s2.glbimg.com/4bCsVlvZoiwsHEqRcTCa0J7PecE=/180x180/smart/filters:strip_icc()/s.glbimg.com/jo/g1/f/original/2018/05/23/favicon-g1.jpeg">
    <link rel="icon" sizes="192x192"
        href="https://s2.glbimg.com/HgQSI36Q2YVwzKwqPRAdK_AuZy8=/192x192/smart/filters:strip_icc()/s.glbimg.com/jo/g1/f/original/2018/05/23/favicon-g1.jpeg">
    <link rel="stylesheet" href="/style/global.css" type="text/css">
    
</head>

<body>
    <%- include('./partials/header.ejs') %>
    <%- include('./partials/postpage.ejs') %>
    <%- include('./partials/footer.ejs') %>





</body>

</html>