<head>
    <link rel="stylesheet" href="/style/footer.css" type="text/css">
</head>
<!-- cardchapeutitle: { type: String, required: true },
cardbodytitle: { type: String, required: true },
cardbodyresume: { type: String, required: true },
metadata: { author: { type: String, required: true }, date: { type: Date, required: true } },
cardimg: String,
cardvideo: String,
posttitle: { type: String, required: true },
postsubtitle: { type: String, required: true },
text: { type: String },
midiatext: { type: String },
text2: { type: String },
midiatext2: { type: String },
text3: { type: String },
midiatext3: { type: String },
citacao: { type: String },
citacao1: { type: String } -->
<footer>
    <div class="bgcolor1 container footer color4">
        <div class="footeruper flex">
            <div class="diretorio__esquerda flex">
                <div class="dir_logo_left">
                    <svg xmlns="http://www.w3.org/2000/svg" id="cor-primaria" width="50px" height="50px"
                        viewBox="0 0 367.000000 505.000000">
                        <title>j1</title>
                        <g transform="translate(0.000000,440.000000) scale(0.100000,-0.100000)" fill="#FFFFFF"
                            stroke="none">
                            <path
                                d="M1800 4290 c-272 -13 -442 -19 -552 -20 l-108 0 5 -112 c13 -309 15 -468 15 -1003 1 -589 -9 -865 -35 -989 -29 -137 -103 -249 -195 -295 -89 -45 -141 -56 -270 -55 -148 2 -220 16 -424 85 -81 27 -150 48 -152 47 -2 -2 3 -64 11 -138 8 -74 24 -241 35 -370 12 -129 24 -238 28 -241 10 -9 203 -46 362 -70 179 -26 445 -35 580 -20 422 49 732 245 830 526 53 152 53 140 57 1025 1 454 7 941 12 1083 5 143 10 326 10 408 l2 149 -28 -2 c-15 0 -98 -4 -183 -8z" />
                            <path
                                d="M3275 4280 c-82 -4 -244 -11 -359 -15 l-210 -7 -53 -48 c-50 -46 -351 -277 -386 -296 -14 -8 -16 -56 -20 -432 l-4 -422 21 18 c12 10 55 47 96 83 102 89 300 249 308 249 4 0 6 -141 5 -312 -1 -172 -3 -452 -4 -623 -1 -337 -14 -968 -24 -1188 l-6 -137 53 5 c93 8 246 14 518 20 146 4 274 8 285 10 20 4 20 12 20 702 0 1001 17 1977 41 2321 l6 82 -69 -2 c-37 0 -135 -4 -218 -8z" />
                        </g>
                    </svg>
                </div>
                <div class="dir_text_left">
                    <a href="/" style="color: white;">Últimas Notícias</a>
                </div>
            </div>
            <div>
                <span class="diretorio__direita">J1</span>
            </div>
        </div>
        <div class="footer__service flex">
            <span>© Todos direitos reservados 2021-2021 Site feito por <a
                    href="https://www.instagram.com/corgosinn">corgosinn</a></span>
            <ul class="onlyflex">
                <li class="item-list"><a href="/mais/sobre">sobre nós</a></li>
                <li class="item-list"><a href="/mais/politica">política do site</a></li>
                <li class="item-list"><a href="/mais/sobre">minha conta</a></li>
                <li class="item-list"><a href="/mais/contato">anuncie aqui</a></li>
            </ul>
        </div>
    </div>

</footer>

<!--Google Platform Library-->
<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
<script src="/script/login.js"></script>