<head>
    <link rel="stylesheet" href="/style/footer.css" type="text/css">
</head>
<footer>
    <div class="bgcolor1 container footer color4">
        <div class="footeruper flex">
            <div class="diretorio__esquerda flex">
                <div class="dir_logo_left">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 516 308" id="cor-primaria">
                        <title>G1</title>
                        <path fill="currentColor" stroke="white" fill-rule="evenodd"
                            d="M0 208.716C0 263.56 50.353 308 112.558 308h224.66V118.447H212.173v94.417h-59.39c-15.54 0-28.157-11.125-28.157-24.828V95.97c0-13.68 7.63-24.826 23.16-24.826h100.467L304.525.47H112.558C50.353.47 0 49.482 0 104.34v104.376zM387.186 308H512V24.832C512 11.13 499.408 0 483.868 0h-123.05l-56.292 70.95h54.523c15.538 0 28.136 11.123 28.136 24.817V308z">
                        </path>
                    </svg>
                </div>
                <div class="dir_text_left">
                    <a href="/" style="color: white;">Últimas Notícias</a>
                </div>
            </div>
            <div >
                <span class="diretorio__direita">G1DAZUEIRA</span>
            </div>
        </div>
        <div class="footer__service flex">
            <span>© Todos direitos reservados 2021-2021 Site feito por <a href="https://www.instagram.com/corgosinn">corgosinn</a></span>
            <ul class="onlyflex">
                <li class="item-list">sobre nós</li>
                <li class="item-list">política do site</li>
                <li class="item-list">minha conta</li>
                <li class="item-list">anuncie aqui</li>
            </ul>
        </div>
    </div>
    
</footer>