<head>
    <link rel="stylesheet" href="/style/header.css" type="text/css">
    <link rel="stylesheet" href="/style/global.css" type="text/css">
</head>

<header  class="header">
    <div onclick="menuopen()" class="menu-curtain" id="menu-curtain"></div>
    <nav id="menu-container" class="menu-container">
        <div id="menu-rounder" class="block">
            <div id="menu-cascade">
                <ul class="menu-root block menu-level menu-level-0 menu-level--opened first-layer">
                    <li class="menu-item" id="editorias">
                        <a class="menu-item-link menu-navegacao-color-primary" href="/">
                            <span class="menu-item-title">Início</span>
                            <span class="menu-item-arrow"></span>
                        </a>
                    </li>
                    <li class="menu-item" id="regioes">
                        <a class="menu-item-link menu-navegacao-color-primary" href="/noticias">
                            <span class="menu-item-title">ultimas noticias</span>
                            <span class="menu-item-arrow"></span>
                        </a>
                    </li>
                    <li class="menu-item" id="telejornais">
                        <a class="menu-item-link menu-navegacao-color-primary" href="/noticias/memes">
                            <span class="menu-item-title">memes</span>
                            <span class="menu-item-arrow"></span>
                        </a>
                    </li>
                    <li class="menu-item" id="editorias">
                        <a class="menu-item-link menu-navegacao-color-primary" href="/noticias/bbb">
                            <span class="menu-item-title">bbb</span>
                            <span class="menu-item-arrow"></span>
                        </a>
                    </li>
                    <li class="menu-item" id="editorias">
                        <a class="menu-item-link menu-navegacao-color-primary" href="/noticias/blog">
                            <span class="menu-item-title">blogs</span>
                            <span class="menu-item-arrow"></span>
                        </a>
                    </li>
                    <li class="menu-item" id="editorias">
                        <a class="menu-item-link menu-navegacao-color-primary" href="/noticias/videos">
                            <span class="menu-item-title">videos</span>
                            <span class="menu-item-arrow"></span>
                        </a>
                    </li>

                    <li class="menu-item menu-item-separator"></li>
                    <li></li>

                </ul>
            </div>
        </div>
    </nav>
    <div class="content-top bgcolor3">
        <div class="flex container">

            <div class="left-content-top ">
                <ul class="item-list-top-left item-list-top">
                    <li class="item-list-toppom"><a href="/">j1.com</a></li>
                    <li class="item-list-toppom i1"><a href="/noticias">ultimas notícias</a></li>
                    <li class="item-list-toppom i2"><a href="/noticias/futebol">futebol</a></li>
                    <li class="item-list-toppom i3"><a href="/noticias/memes">memes</a></li>
                    <li class="item-list-toppom i4"><a href="/noticias/videos">vídeos</a></li>
                </ul>
            </div>
            <div class="right-content-top flex">
                <ul class="item-list-top-right item-list-top">
                    <li class="item-list-toppom"><a href="/mais/ajudenos">CONTRIBUA</a></li>
                    <li class="item-list-toppom"><a href="/mais/contato">CONTATE-NÓS</a></li>
                </ul>
                <div class="block auth-div">
                    <div class="" id="username-top"></div>
                    <a href="" class="auth-padding block">
                        <!-- <img class="profile_photo_auth" height="50" width="50" style="
                            border-radius: 50%;
                            border-top-left-radius: 50%;
                            border-top-right-radius: 50%;
                            border-bottom-right-radius: 50%;
                            border-bottom-left-radius: 50%;"
                            src="https://instagram.fbtz1-8.fna.fbcdn.net/v/t51.2885-19/44884218_345707102882519_2446069589734326272_n.jpg?_nc_ht=instagram.fbtz1-8.fna.fbcdn.net&_nc_ohc=tEaMJqJxFb8AX9fIAxI&edm=AEaYFD0AAAAA&ccb=7-4&oh=461dbf9f9bb51359a36c94acd9c9417c&oe=6091BC0F&_nc_sid=751ab8&ig_cache_key=YW5vbnltb3VzX3Byb2ZpbGVfcGlj.2-ccb7-4"> -->
                        <span class="link-authname">
                            <div class="g-signin2" id="meu-botao">  
                            </div>
                            
                        </span>
                        <a href="javascript:void(0);" id="singout" style="font-size: 10px; display: none;" onclick="signOut();">Sign out</a>
                        <span class="barra-profile-arrow"></span>
                    </a>
                </div>
                
            </div>

        </div>
    </div>
    <div class="bgcolor1">
        <div class="header-nav container">
            <div class="area-principal-nav flexitem">
                <div onclick="menuopen()" class="block">
                    <div class="menu">
                        <div class="menu-conf">
                            <div class="menu-buttom">

                            </div>
                        </div>


                    </div>
                    <span class="menu_text txt-white font-weight600">MENU</span>
                </div>
            </div>
            <div class="logo-nav flexitem"><a style="color: #fff;" href="/">
                    <h1 class="logo">
                        <svg xmlns="http://www.w3.org/2000/svg" id="cor-primaria" width="50px" height="50px" viewBox="0 0 367.000000 505.000000">

                            <g transform="translate(0.000000,440.000000) scale(0.100000,-0.100000)" fill="#FFFFFF" stroke="none">
                            <path d="M1800 4290 c-272 -13 -442 -19 -552 -20 l-108 0 5 -112 c13 -309 15 -468 15 -1003 1 -589 -9 -865 -35 -989 -29 -137 -103 -249 -195 -295 -89 -45 -141 -56 -270 -55 -148 2 -220 16 -424 85 -81 27 -150 48 -152 47 -2 -2 3 -64 11 -138 8 -74 24 -241 35 -370 12 -129 24 -238 28 -241 10 -9 203 -46 362 -70 179 -26 445 -35 580 -20 422 49 732 245 830 526 53 152 53 140 57 1025 1 454 7 941 12 1083 5 143 10 326 10 408 l2 149 -28 -2 c-15 0 -98 -4 -183 -8z"/>
                            <path d="M3275 4280 c-82 -4 -244 -11 -359 -15 l-210 -7 -53 -48 c-50 -46 -351 -277 -386 -296 -14 -8 -16 -56 -20 -432 l-4 -422 21 18 c12 10 55 47 96 83 102 89 300 249 308 249 4 0 6 -141 5 -312 -1 -172 -3 -452 -4 -623 -1 -337 -14 -968 -24 -1188 l-6 -137 53 5 c93 8 246 14 518 20 146 4 274 8 285 10 20 4 20 12 20 702 0 1001 17 1977 41 2321 l6 82 -69 -2 c-37 0 -135 -4 -218 -8z"/>
                            </g>
                            </svg>
                        <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 516 308" id="cor-primaria">
                            <title>J1</title>
                            <path fill="currentColor" stroke="white" fill-rule="evenodd"
                                d="M0 208.716C0 263.56 50.353 308 112.558 308h224.66V118.447H212.173v94.417h-59.39c-15.54 0-28.157-11.125-28.157-24.828V95.97c0-13.68 7.63-24.826 23.16-24.826h100.467L304.525.47H112.558C50.353.47 0 49.482 0 104.34v104.376zM387.186 308H512V24.832C512 11.13 499.408 0 483.868 0h-123.05l-56.292 70.95h54.523c15.538 0 28.136 11.123 28.136 24.817V308z">
                            </path>
                        </svg> -->
                    </h1>
                </a></div>
            <div class="search-conf "  id="focusSearch" >
                <div class="search-area header-navegacao-color flexitem" >
                    <div class="busca-padrao">
                        <form class="form-search"  action="/search" name="searchwebsite" id="search" method="GET">
                            <fieldset class="search-site">
                                <input onfocus="on()" onblur="off()" id="busca-campo" class="expand-search" type="search"
                                    autocomplete="off" tabindex="1" name="q">
                                <label for="busca-campo" class="lupa" id="lupa"  >
                                    <svg id="eixo-icone-busca">
                                        <path
                                            d="M21.67 20.42l-5.72-5.73c.98-1.26 1.55-2.83 1.55-4.54 0-4.14-3.36-7.5-7.5-7.5-4.15 0-7.5 3.36-7.5 7.5s3.35 7.5 7.5 7.5c1.7 0 3.27-.57 4.53-1.54l5.73 5.73c.42.41 1.07.43 1.46.04.39-.39.37-1.04-.05-1.46zM10 15.65c-3.04 0-5.5-2.46-5.5-5.5s2.46-5.5 5.5-5.5c3.03 0 5.5 2.46 5.5 5.5s-2.47 5.5-5.5 5.5z">
                                        </path>
                                    </svg>
                                </label>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>




        </div>
    </div>
</header>

<script src="/script/header.js"></script>