<head>
    <link rel="stylesheet" href="/style/post.css" type="text/css">
    <link rel="stylesheet" href="/style/global.css" type="text/css">
    <link rel="stylesheet" href="/style/mainhome.css" type="text/css">
    <link rel="stylesheet" href="/style/mainhome.css" type="text/css">
</head>

<main class="container">
    <div>
        <fieldset id="fieldset">
            <form action="/post" method="POST">

                <div id="CARD" class="container">
                    <div class="block bstn-item-shape">
                        <div class="grid  feed_grid items-align-start">
                            <div class="feed-post-header color3 font-weight600 block">
                                <span class="feed-post-header-chapeu">
                                    <input type="text" id="cardchapeutitle" name="cardchapeutitle"
                                        placeholder="CARD - Texto chapéu" required>
                                </span>
                            </div>
                            <div class="feed-post-body-title font-weight700 block">
                                <div class="block">
                                    <input class="feed-post-link color1" type="text" id="cardbodytitle"
                                        name="cardbodytitle" placeholder="CARD - Título" required>

                                </div>
                            </div>
                            <div class="feed-post-body-resumo font-weight400">
                                <input type="text" id="cardbodyresume" name="cardbodyresume" placeholder="CARD - Resumo"
                                    required>
                            </div>

                            <div class="feed-media-wrapper block">

                                <div class="bstn-fd-item-cover ">

                                    <picture id="backgroundselector" class="bstn-fd-cover-picture">

                                        <select onclick="teste()" id="cardimg" name="cardimg">

                                            <%files.forEach(element=> { %>
                                                <option>/content/<%=element%>
                                                </option>
                                                <% }) %>
                                                    <option value="">Vazio</option>
                                        </select>

                                        <select id="cardvideo" name="cardvideo">
                                            <option></option>
                                        </select>
                                        <script>
                                            let cardimg = document.getElementById('cardimg');
                                            cardimg.value.onload = teste()
                                            function teste() {
                                                let bacground = document.getElementById('backgroundselector');
                                                let cardimg = document.getElementById('cardimg');
                                                bacground.style.backgroundImage = 'url(' + cardimg.value + ')';
                                            }
                                        </script>


                                    </picture>

                                </div>

                            </div>
                            <div class="feed-post-metadata font-weight400">
                                <span class="feed-post-datetime">Há X minutos</span>
                                <span class="feed-post-metadata-section"><input type="text" id="metadata.author"
                                        name="metadata.author" placeholder="Autor" required>
                                </span>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="POSTPAGE" class="container">
                    <div class="page_content">
                        <div class="titlepage">
                            <h1 class="font-weight700 content_title">
                                <input type="text" id="posttitle" name="posttitle" placeholder="POST - Título" required>
                            </h1>
                        </div>
                        <div class="subtitlepage">
                            <h2 class="content_subtitle color5">
                                <input type="text" id="postsubtitle" name="postsubtitle" placeholder="POST - Sub-Título"
                                    required>
                            </h2>
                        </div>
                        <div class="flex">
                            <div class="date_post"></div>
                            <div></div>

                        </div>
                        <hr class="content_divider wid60rem">
                        <div>
                            <div class="textpage">
                                <div class="parag_text">

                                    <input type="text" id="text" name="text" placeholder="POST - Texto Principal">

                                </div>
                                <picture class="img_post">
                                    <select onload="img(this)" onclick="img(this)" onchange="img(this)" id="midiatext" name="midiatext">
                                        <option value="">Vazio</option>
                                        <%files.forEach(element=> { %>
                                            <option>/content/<%=element%>
                                            </option>
                                            <% }) %>

                                    </select>
                                </picture>

                                <div class="parag_text">
                                    <p class="color3">
                                        <input type="text" id="text2" name="text2" placeholder="POST - Segundo Texto">
                                    </p>
                                </div>

                                <picture class="img_post" onload="img(this)" onchange="img(this)" onclick="img(this)">
                                    <select id="midiatext2" name="midiatext2">
                                        <option value="">Vazio</option>
                                        <%files.forEach(element=> { %>
                                            <option>/content/<%=element%>
                                            </option>
                                            <% }) %>

                                    </select>
                                </picture>

                                <div class="parag_text">
                                    <p class="color3">
                                        <input type="text" id="text3" name="text3" placeholder="POST - Terceiro Texto">
                                    </p>
                                </div>

                                <picture class="img_post" onload="img(this)" onchange="img(this)" onclick="img(this)">
                                    <select id="midiatext3" name="midiatext3">
                                        <option value="">Vazio</option>
                                        <%files.forEach(element=> { %>
                                            <option>/content/<%=element%>
                                            </option>
                                            <% }) %>

                                    </select>
                                </picture>
                                <script>



                                    function img(element) {
                                        let picture = element.closest('picture');
                                        console.log(picture)
                                        picture.style.backgroundImage = 'url(' + element.value + ')';

                                    }
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <input type="text" id="citacao" name="citacao" placeholder="POST - Primeira citação">
                    <input type="text" id="citacao1" name="citacao1" placeholder="POST - Segunda citação">

                </div>
                <div id="button">
                    <button class="bgcolor1 color4">Send</button>
                </div>



            </form>
        </fieldset>
    </div>


</main>